name: Production CI/CD

on:
  pull_request:
    branches: [ "main" ]

jobs:
  production-deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: npm run test
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      - name: 'deploy to vercel'
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: npx vercel --token="$VERCEL_TOKEN" -e NODE_ENV=$NODE_ENV > deploy-url.txt
      - name: 'set custom deploy domain'
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: npx vercel --token="$VERCEL_TOKEN" alias $(cat 'deploy-url.txt') $VERCEL_DEPLOY_URL
